#header
  include includes/full_logo
  include includes/user_info

#main-content
  #promotional
    .note
      h2 Let's Reflect!
      ol
        li Share a board
        li Post your thoughts
        li Group them together
        li Discuss what you find!
    .general
      h3 Why Reflect?
      | Reflection and retrospective meetings allow you to look back 
      | at your shared experiences, discover common desires, and apply
      | them to future work.
      h3 How to Reflect?
      | Gather your team around a board, and take turns to post your
      | thoughts. Edit and group similar thought togeter.
  #boards
    h1 Boards
    form#enter-board
      input#board-name(type='text')
      button create board
    ul
      for board in boards
        - if (board.name)
          li(id=board._id)
            a(href='/boards/' + board.name)
              .note-count
                span.count= boardCounts[board.name] || 0
                | &nbsp; notes
              h3.title= board.title
            .activity
  script(src="/js/boards.js")

