#header
  span.title Reflectrospective!
  include includes/user_info

#main-content
  #boards
    h1 Boards
    form#enter-board
      input#board-name(type='text')
      button Enter board
    ul
      for board in boards
        li
          a(href='/boards/' + board.name)
            h3= board.title
            .note-count= board.cards_count
            .user-count= board.users_count
  script(src="/js/boards.js")

