#header
  include includes/full_logo
  include includes/user_info

#main-content
  #boards
    h1 Boards
    form#enter-board
      input#board-name(type='text')
      button create board
    ul
      for board in boards
        - if (board.name)
          li(id=board._id)
            a(href='/boards/' + board.name)
              .note-count
                span.count= boardCounts[board.name] || 0
                | &nbsp; notes
              h3.title= board.title
            .activity
  script(src="/js/boards.js")

