#header
  a.title(href='/')
    span.logo Re
    | flectrospective
  include includes/user_info

#main-content
  #boards
    h1 Boards
    form#enter-board
      input#board-name(type='text')
      button create board
    ul
      for board in boards
        li(id=board._id)
          a(href='/boards/' + board.name)
            .note-count
              span.count #{boardCounts[board.name]}
              | &nbsp; notes
            h3.title= board.title
  script(src="/js/boards.js")

