!!! 5
html
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/board.js")
  link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
   != body
