#header
  a.title(href="/")
    span.logo Re
    | flectrospective

form#login(action='/login', method='post')
  h1 Login
  label(for='user_id') Username:
  input#user_id(name='user_id')
  button Login
  .help e.g. user@example.com OR @twitterhandle
