#header
  include includes/full_logo

form#login(action='/login', method='post')
  h1 Sign In
  input#user_id(name='user_id')
  button Login
  .help
    | Use your
    a(href='http://en.gravatar.com/site/login/') gravatar
    |   email address OR your
    a(href='http://twitter.com') twitter
    |  user (e.g.
    a(href='http://twitter.com/carbonfive') @carbonfive
    )
