.inset-shadow(@x, @y, @blur, @color) {
  -webkit-box-shadow: inset @arguments;
  -moz-box-shadow: inset @arguments;
  box-shadow: inset @arguments;
}

.box-shadow(@x, @y, @blur, @color) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.border-radius(@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.card-background(@c) {
  background: @c;
  @c0: hsl(hue(spin(@c, -8)), 66%, 66%);
  @c1: hsl(hue(@c), 100%, 77%);
  @c2: hsl(hue(@c), 100%, 77%);
  @c3: hsl(hue(@c), 77%, 81%);
  background: -webkit-linear-gradient(top, @c0 0%, @c1 33%, @c2 78%, @c3 100%);
  background: -moz-linear-gradient(top, @c0 0%, @c1 33%, @c2 78%, @c3 100%);
  background: linear-gradient(top, @c0 0%, @c1 33%, @c2 78%, @c3 100%);
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: none;
  background-image: url('/images/apple-birch-background.jpg');
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
}

.board {
  padding: 20px 0;
  position: relative;
}

@link_color: white;

a {
  color: @link_color;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }

  :visited {
    color: @link_color;
  }
}

.card {
  cursor: pointer;
  position:absolute;
  background-color: #eea;
  padding: 1em 1em .5em 1em;
  border: 1px solid #883;
  .card-background(#efff8c);
  .box-shadow(2px, 2px, 5px, #333);

  textarea {
    font-family: 'Rosario', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    border: none;
    background: none;
    padding: 0;
    margin:0;
    width:256px;
    outline: none;
    resize: none;
  }

  img.delete {
    position: absolute;
    right: -22px;
    top: -22px;
    display: none;
  }

  .notice {
    position: absolute;
    top: -2.5em;
    text-align: center;
    left: 0;
    opacity: 0.7;
    width: 100%;

    img {
      width: 20px;
      height: 20px;
      margin-right: 0.5em;
      border: 1px solid white;
      .box-shadow(2px,2px,3px,rgba(0,0,0,0.5));
    }

    span {
      vertical-align: super;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    }
  }

  .authors {
    height: 22px;

    img {
      visibility: hidden;
      width: 20px;
      height: 20px;
      margin-right: 0.5em;
      border: 1px solid white;
    }
  }
}

.card:hover .authors img { visibility: visible; }
.card:hover img.delete { display: block; }

.card.i-wish {
  .card-background(#fc6);
}

.card.i-like {
  .card-background(#89d087);
}

#header {
  padding: 0.75em;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);
  height: 25px;

  .create {
    float: left;
    margin: 0 2em 0 0;
  }
}

#main-content {
  margin: 20px;
}

#title {
  height: 24px;
  width: 50%;
  font-size: 1.4em;
  background-color: transparent;
  border: none;
  color: white;
  border: 0;
  text-shadow: 2px 2px 2px #000;
  float: left;
}

#header span.title {
  font-size: 1.5em;
  float: left;
}

#boards {
  margin: 3em auto;
  width: 560px;
  .inset-shadow(5px,5px,10px,rgba(0,0,0,0.5));
  .border-radius(10px);
  padding: 3em;

  h1 {
    text-align: center;
    margin: 0 0 1.1em;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  }

  form#enter-board {
    text-align: center;
    width: 540px;
    margin: 0 auto;
    input {
      border: none;
      padding: .5em;
      .inset-shadow(2px,2px,2px,rgba(0,0,0,0.5));
      width: 350px;
    }
  }

  ul {
    .border-radius(5px);
    width: 500px;
    height: 360px;
    margin: 1em auto;
    padding: 0;
    list-style-type: none;
    background-color: #333;
    overflow-y:auto;

    li {
      a {
        display:block;
        padding: 10px;
        background-color: #fff;
        color: #000;
        :active, :hover {
          text-decoration: none;
        }

        h3 {
          font-size: 1.2em;
          font-weight: bold;
        }
      }
      border-bottom: 2px solid #ccc;
    }
  }
}

#user-info {
  float: right;
  font-size: 1em;
  font-weight: bold;
}

#user-info span {
  vertical-align: super;
  text-shadow: 2px 2px 2px #000;
}

#user-info img {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
  border: 1px solid white;
  .box-shadow(2px, 2px, 3px, rgba(0,0,0,0.5);
}

form#login h1 {
  margin: 0 0 1.1em;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

form#login label {
  font-size: 1.2em;
  margin: 0 2em 0 0;
}

input {
  .border-radius;
}

form#login input {
  .border-radius;
  border: none;
  padding: .5em;
  .inset-shadow(2px,2px,2px,rgba(0,0,0,0.5));
  width: 350px;
}

button {
  .border-radius;
  padding: .5em 1em;
  background-color: white;
  border: none;
  margin: 0 0 0 2em;
  .box-shadow(1px, 1px, 2px, rgba(0, 0, 0, 0.5));
}

button:hover {
  cursor: pointer;
  .box-shadow(2px, 2px, 2px, rgba(0, 0, 0, 1));
}

button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

form#login .help {
  margin-top: 1.5em;
  font-size: .9em;
  text-align: center;
}

form#login {
  margin: 3em auto;
  width: 560px;
  .inset-shadow(5px,5px,10px,rgba(0,0,0,0.5));
  .border-radius(10px);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  padding: 3em;
}
